//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/home/henrry-go/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/henrry-go/.local/share/rofi/themes/launchpad.rasi"
@theme "/home/henrry-go/.local/share/rofi/themes/spotlight-dark.rasi"
